---
import Layout from '~/layouts/ContentPageLayout.astro';

const metadata = {
  title: 'Progetti',
};
---

<Layout metadata={metadata}>
  <div>
    <h2>Scuola superiore</h2>
    <p>Progetto per scuola superiore</p>

    <h2>Progetto agribusiness</h2>
    <p>Progetto agribusiness</p>
  </div>
</Layout>
