---
import Layout from '~/layouts/ContentPageLayout.astro';
import strings from '~/strings.json';

const metadata = {
  title: strings.pageSchool,
};
---

<Layout metadata={metadata}>
  <div>
    <h2>Scuola media</h2>
    <p>Desrizione della scuola</p>
  </div>
</Layout>
