---
import Layout from '~/layouts/ContentPageLayout.astro';

import ImgGallery from '~/components/widgets/Gallery.jsx';
import gallery from '~/gallery-settings';
import { t } from '~/i18n/utils';

const metadata = {
  title: t('en', 'page.gallery'),
};
---

<Layout metadata={metadata} showHero={false}>
  <div style="text-align: center">
    <h1>{t('en', 'page.gallery')}</h1>
    <p>{t('en', 'gallery.collecting')}</p>
  </div>

  {gallery && gallery.enabled && <ImgGallery client:only="react" photos={gallery.photos} layout={gallery.layout} />}
</Layout>
